.btn {
  position: relative;
  background: #2196f3;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}